{% load static %}



<!-- jQuery JS -->
<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
<!-- jQuery Migrate JS -->
<script src="{% static 'js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
<!-- Modernizer JS -->
<script src="{% static 'js/vendor/modernizr-3.8.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'js/plugins/plugins.js' %}"></script>
<!-- Jquery ui JS -->
<script src="{% static 'js/plugins/jquery.ui.js' %}"></script>
<!-- Mailchimp JS -->
<script src="{% static 'js/plugins/jquery.ajaxchimp.min.js' %}"></script>
<!-- Jquery Magnific Popup JS -->
<script src="{% static 'js/plugins/jquery.magnific-popup.min.js' %}"></script>
<!-- Slick JS -->
<script src="{% static 'js/plugins/slick.min.js' %}"></script>
<!-- Modal JS -->
<script src="{% static 'js/plugins/modal.min.js' %}"></script>
<!-- Sticky Sidebar JS -->
<script src="{% static 'js/plugins/sticky-sidebar.min.js' %}"></script>
<!-- Countdown JS -->
<script src="{% static 'js/plugins/countdown.min.js' %}"></script>
<!-- jQuery Nice Select JS -->
<script src="{% static 'js/plugins/jquery.nice-select.min.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>