{% extends 'base/base_layout.html' %}
{% load static %}
{% block title %}
<title>محصولات</title>
{% endblock title %}

{% block content %}
<!--=====================
    Breadcrumb Aera Start
    =========================-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li>
                                <h1><a href="index.html">صفحه اصلی</a></h1>
                            </li>
                            <li>فروشگاه</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================
    Breadcrumb Aera End
    =========================-->

    <!--======================
    Shop area Start
    ==========================-->
    <div class="shop-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <aside class="sidebar-widget mt-50">
                        
                        <div class="widget_inner widget-background mt-50">
                            <div class="widget_list widget_filter">
                                <div class="sidebar-title">
                                    <h4 class="title-shop">فیلتر کردن بر اساس قیمت</h4>
                                </div>
                                <form action="#">
                                    <div id="slider-range"></div>
                                    <button type="submit">فیلتر </button>
                                    <input type="text" name="text" id="amount" />
                                </form>
                            </div>
                            <div class="widget_list widget_categories mt-20">
                                <div class="sidebar-title">
                                    <h4 class="title-shop">دسته اصلی</h4>
                                </div>
                                <ul>
                                    {% for category in maincategories %}
                                        <li>
                                            <input name='maincategory' {% if request.GET.maincategory == category.title_en %}checked{% endif %} onchange='addmaincategory(this)' value="{{category.title_en}}" type="checkbox">
                                            <a href="#">{{category.title_fa}}</a>
                                            <span class="checkmark"></span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if request.GET.maincategory %}
                                <div class="widget_list widget_categories mt-20">
                                    <div class="sidebar-title">
                                        <h4 class="title-shop"> زیر دسته بندی  </h4>
                                    </div>
                                    <ul>
                                        {% for sub in subcategory %}
                                            <li>
                                                <input name="subcategory" value="{{sub.title_en}}" onchange="addsubcategory(this)" type="checkbox">
                                                <a href="#">{{sub.title_fa}}</a>
                                                <span class="checkmark"></span>
                                            </li>
                                        {% endfor %}  
                                    </ul>
                                </div>
                            {% endif %}
                            {% if request.GET.subcategory %}
                            <div class="widget_list widget_categories mt-20">
                                <div class="sidebar-title">
                                    <h4 class="title-shop"> زیر دسته بندی </h4>
                                </div>
                                <ul>
                                    {% for category in  tirdcategory  %}
                                    <li>
                                        <input type="checkbox" >
                                        <a href="#">{{category.title_fa}}</a>
                                        <span class="checkmark"></span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Shop Banner Start -->
                        <div class="single-banner text-center mt-50 mb-30">
                            <a href="#"><img src="assets/images/banner/shop-banner-2.jpg" alt="" class="img-fluid"></a>
                        </div>
                        <!-- Shop Banner End -->
                    </aside>
                </div>
                <div class="col-lg-9 order-first order-lg-last">
                    <!-- Shop Banner Start -->
                    <div class="single-banner mt-50 mb-50">
                        <a href="#"><img src="assets/images/banner/shop-banner-1.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <!-- Shop Banner End -->
                    <!-- Shop Toolbar Start -->
                    <div class="toolbar-shop mb-50">
                        <div class="shop_toolbar_btn">
                            <button data-role="grid_3" class="btn-grid-3"></button>
                            <button data-role="grid_list" class="btn-list active"></button>
                        </div>
                        <div class="page-amount">
                            <p> {{paginator.count}} محصول وجود دارد </p>
                        </div>
                        <div class="nice-select select-option">
                            <select name="select">
                                <option value="1"> مرتب کردن بر اساس نام</option>
                                <option value="2"> مرتب کردن بر اساس شماره</option>
                                <option value="3"> مرتب کردن بر اساس تاریخ</option>
                                <option value="4"> مرتب کردن بر اساس ارزان ترین</option>
                                <option value="5"> مرتب کردن بر اساس گران  ترین</option>
                                <option value="6"> مرتب کردن بر اساس موجودیت</option>
                                <option value="7"> مرتب کردن بر اساس برند</option>
                                <option value="8"> مرتب کردن بر اساس تخفیف</option>
                            </select>
                        </div>
                    </div>
                    <!-- Shop Toolbar End -->
                    <!-- Shop Wrapper Start -->
                    <div class="row shop-wrapper grid_list">

                       {% for product in page_obj %}
                            <div class="col-12 mb-20">
                                <!-- Single-Prodproduct_listct-Start -->
                                <div class="item-product pt-0">
                                    <div class="product-thumb">
                                        <a href="product-details.html">
                                            <img src="{{product.image.url}}" alt="" class="img-fluid">
                                        </a>
                                        <div class="box-label">
                                            <div class="label-product-new">
                                                <span>جدید </span>
                                            </div>
                                        </div>
                                        <div class="action-link">
                                            <a class="quick-view same-link" href="#" title="دسترسی سریع" data-bs-toggle="modal" data-bs-target="#modal_box" data-original-title="quick view"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></a>
                                            <a class="wishlist-add same-link" href="wishlist.html" title="افزودن به علاقه مندی‌ها"><i class="zmdi zmdi-favorite-outline zmdi-hc-fw"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-name">
                                            <a href="product-details.html">{{product.title_fa}}</a>
                                        </div>
                                        <div class="rating">
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                        </div>
                                        <div class="price-box">
                                            {% if product.dicount_percent != 0 %}
                                            <span class="regular-price">{{product.get_price_with_discount}} تومان</span>
                                            <span class="old-price"><del>{{product.get_price}} تومان</del></span>
                                            {% else %}
                                            <span class="regular-price">{{product.get_price}} تومان</span>
                                            {% endif %}
                                            
                                        </div>
                                        <div class="cart">
                                            <div class="add-to-cart">
                                                <a href="shopping-cart.html" title="افزودن به سبد خرید"><i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-list-caption align-items-center">
                                        <div class="product-name">
                                            <a href="product-details.html">{{product.title_fa}}</a>
                                        </div>
                                        <div class="rating">
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                            <span class="yellow"><i class="fa fa-star"></i></span>
                                        </div>
                                        <div class="price-box">
                                            {% if product.dicount_percent != 0 %}
                                                    <span class="regular-price">{{product.get_price_with_discount}} تومان</span>
                                                    <span class="old-price"><del>{{product.get_price}} تومان</del></span>
                                            {% else %}
                                            <span class="regular-price">{{product.get_price}} تومان</span>
                                            {% endif %}
                                            
                                           
                                        </div>
                                        <p>{{product.description|truncatewords:20 }}</p>
                                        <div class="text-available">
                                            <p><strong>موجودیت: </strong><span> در انبار </span></p>
                                        </div>
                                        <div class="action-link">
                                            <a class="quick-view same-link" href="#" title="دسترسی سریع" data-bs-toggle="modal" data-bs-target="#modal_box" data-original-title="quick view"><i class="zmdi zmdi-eye zmdi-hc-fw"></i></a>
                                            <a class="wishlist-add same-link" href="wishlist.html" title="افزودن به علاقه مندی‌ها"><i class="zmdi zmdi-favorite-outline zmdi-hc-fw"></i></a>
                                        </div>
                                        <div class="cart-list-button d-flex justify-content-end">
                                            <a href="shopping-cart.html" class="cart-btn" style="background-color:#408ed4">افزودن به سبد خرید </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single-Product-End -->
                            </div>
                       {% endfor %}
                    </div>
                    <!-- Shop Wrapper End -->
                    <!-- Shop Toolbar Start -->
                    <div class="toolbar-shop toolbar-bottom">
                        <div class="page-amount">
                            <p> نمایش {{page_obj.number}}-{{paginator.num_pages}} از {{paginator.count}} نتیجه </p>
                        </div>
                        <div class="pagination">
                            <ul>
                                {% if page_obj.has_previous %} 
                                    <li class="previous"><a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left"></i> قبلی </a></li>
                                {% endif %}   
                                {% for page in  page_obj.adjusted_elided_pages %}
                                    {% if page == page_obj.number%}
                                        <li class="current">{{page}}</li>
                                    {% else %}
                                            {% if page ==  page_obj.paginator.ELLIPSIS %}
                                                <li><a>{{page}}</a></li>
                                            {% else %}
                                                <li><a href="?page={{page}}">{{page}}</a></li>
                                            {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                     <li class="next"><a href="?page={{ page_obj.next_page_number }}"> بعدی <i class="fa fa-angle-right"></i></a></li>
                                {% endif %}
                               
                            </ul>
                        </div>
                    </div>
                    <!-- Shop Toolbar End -->
                </div>
            </div>
        </div>
    </div>
    <!--======================
    Shop area End
    ==========================-->
{% endblock content %}

{% block jscustom %}
<script>
function addmaincategory(obj){
    const urlSearchParams = new URLSearchParams(window.location.search);
    checkboxes=document.getElementsByName('maincategory');
    is_checked=obj.checked;
    for (let checkbox=0;checkbox < checkboxes.length ; checkbox++){
            checkboxes[checkbox].checked=false;
    }
    obj.checked=is_checked;
    const params = Object.fromEntries(urlSearchParams.entries());
    if (obj.checked) {
       params[obj.name] = obj.value;
    } else {
       // Checkbox is unchecked, remove the parameter from the URL
       delete params[obj.name];
    }
    const searchParams = new URLSearchParams(params);
    const newUrl = `${window.location.origin}${window.location.pathname}?${searchParams.toString()}`;
    history.pushState(null, '', newUrl);
    window.location.reload();
}
function addsubcategory(obj){
    const urlSearchParams = new URLSearchParams(window.location.search);
    checkboxes=document.getElementsByName('subcategory');
    is_checked=obj.checked;
    for (let checkbox=0;checkbox < checkboxes.length ; checkbox++){
            checkboxes[checkbox].checked=false;
    }
    obj.checked=is_checked;
    const params = Object.fromEntries(urlSearchParams.entries());
    if (obj.checked) {
       params[obj.name] = obj.value;
    } else {
       // Checkbox is unchecked, remove the parameter from the URL
       delete params[obj.name];
    }
    const searchParams = new URLSearchParams(params);
    const newUrl = `${window.location.origin}${window.location.pathname}?${searchParams.toString()}`;
    history.pushState(null, '', newUrl);
    window.location.reload();
}
</script>
{% endblock jscustom %}